.igm_taqi3{
    width: 100%;
    height: 250px;
    margin-top: 112px;
}

.haqida_father{
    margin-top: 42px;
    margin-left: 78px;
    display: flex;
    justify-content: space-between;
    
}

.haqida_reight{
    width: 65%;
    padding: 20px;
    margin-right: 50px;
    margin-bottom: 150px;
}

.haqida_reight p{
font-family: Raleway;
font-style: Regular;
font-size: 18px;

}

.haqida_left a{
    text-decoration: none;
    color: #333;
}
.haqida_left p{
    display: flex;
    font-size: 16px ;
    align-items: center;
    border-bottom: 1px solid #DFDEDE;
    line-height: 16px;
    padding-left: 5px;
    padding-bottom: 10px;
    cursor: pointer;
}

.haqida_left{
    width: 300px ;
    height: auto;
    padding: 25px;
    background-color:#EEEEEE;
    height: 100%;
} 